/* About Me */

.fixed-header {
  width: 100%;
  position: fixed;        
  padding: 0px;
  top: 0;
  left: 0;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.name {
  float: left;
  background-color: #4aaaa5;
  color: white;
  font-weight: bold;
}

.nav {
  background-color: white;
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 15px;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container1 {
  background-color: white;
  margin: 140px 340px 140px 340px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  }

h2 {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

.float-img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.fixed-footer{
  width: 100%;
  position: fixed;        
  padding: 10px;
  bottom: 0;
  left: 0px;
  background: #777777;
  color: white;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  background-image: url(file:///C:/Users/pamel/Basic-Portfolio/Assets/images/symphony.png)
}

/* Contact */

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
}
